<nav class="navbar navbar-dark bg-dark mb-2">
  <a class="navbar-brand" href="/">E-Linguistics</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/myrto1984/e-linguistics-app" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link"
         href="https://docs.google.com/document/d/1NyvgIpbvZmfJ2-XXLUHl4vWfZsWOm9KqXp1dnybVoQI/edit" target="_blank">
        <i class="fa fa-bookmark"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.overleaf.com/project/5cd69da3489f6b03b1e6334d" target="_blank">
        <i class="fa fa-book"></i>
      </a>
    </div>
  </div>
</nav>
